/* src/index.css */

:root {
  /* Colores */
  --bg-primary: #f4f7f5;
  --bg-surface: #ffffff;
  --color-primary: #1b4d3e;
  --color-action: #113329;
  --text-main: #0f172a;
  --text-muted: #475569;

  /* Fuentes */
  --font-titles: "Archivo", "Arimo", sans-serif;
  --font-body: "Inter", "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-primary);
  color: var(--text-main);
  font-family: var(--font-body);
}
